<launch>
  <node name="axrosbag" pkg="axrosbag" type="axrosbag" args="" output="screen">
    <rosparam>
        default_duration_limit: 300
        <!-- topics: ['imu', 'odom'] -->
    </rosparam>

    <!-- you should either set specified 'topics' or 'record_all_topics' -->
    <param name="record_all_topics" type="bool" value="true"/>

  </node>

</launch>